extends layout

block content
 .container
   .col-xl-8.offset-md-2
        h1.text-center #{title} 
        include partials/message
        form(action='/users/add' method="post")
            .form-group
                label(for='name') Name:
                input#name.form-control(type='text' placeholder='Enter Name' name='name' value= typeof name !='undefined' ? name : '')
            .form-group
                label(for='email') Email:
                input#email.form-control(type='email' name='email' value= typeof email !='undefined' ? email : '')
            .form-group
                label(for='password') Password:
                input#password.form-control(type='password' name='password' value= typeof password !='undefined' ? password : '')
            .form-group
                label(for='password2') Password:
                input#password2.form-control(type='password' name='password2' value= typeof password2 !='undefined' ? password2 : '')               
            .form-group
                button.btn.btn-primary(type='submit') Submit